%h1= Present.model_name.human(count: 2)
.col.d-flex.align-items-center.justify-content-between
  %h1= "#{@presents.count} #{Present.model_name.human(count: @presents.count)}"
  %h1 Search
  = search_form_for @q do |f|
    .field
      =f.label :status_cont, "Status"
      =f.select :status_matches, options_for_select(['Delivered', 'To be delivered', 'Lost'])
      =f.submit "Filter"
  = link_to t('actions.create'), new_present_path, class: 'btn btn-primary'



%table.table.table-striped
  %thead
    %tr
      %th= sort_link(@q, :contents, Present.human_attribute_name(:contents))
      %th= sort_link(@q, :name_recepient, Present.human_attribute_name(:name_recepient))
      %th= sort_link(@q, :elf_id, Present.human_attribute_name(:elf_id))
      %th= sort_link(@q, :status, Present.human_attribute_name(:status))
      %th{colspan: 3}

  %tbody
    - @presents.each do |present|
      %tr
        %td= present.contents
        %td= present.name_recepient
        %td= present.elf.first_name + " " + present.elf.last_name
        %td= present.status

        - if (present.status != 'Lost')
          %td.actions
            = link_to t('actions.edit'), edit_present_path(present), class: 'btn btn-xs btn-light'
            = link_to t('actions.delete'), present_path(present), { method: :delete, class: 'btn btn-xs btn-warning', data: { confirm: t('actions.delete_question')}}
        - else
          %td.actions
            = link_to t('actions.resend'), new_present_path(present_contents: present.contents, present_name_recepient: present.name_recepient, present_elf_id: present.elf_id), class: 'btn btn-xs btn-dark'
            = link_to t('actions.edit'), edit_present_path(present), class: 'btn btn-xs btn-light'
            = link_to t('actions.delete'), present_path(present), { method: :delete, class: 'btn btn-xs btn-warning', data: { confirm: t('actions.delete_question')}}


.row
  .col-sm-6
  .col-sm-6
    .pull-right
      = paginate @presents
